[[ -f ~/.profile ]] && source ~/.profile
[[ -f ~/.bashrc ]] && source ~/.bashrc

if [[ "$TERM" != "dumb" ]]; then
    cd "{{ pseudo_root_dir }}"
    LD_PRELOAD="{{ install_prefix }}/lib/libncursesw.so" fish
fi
