export EDITOR=nvim

export LC_CTYPE=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

export TERMINFO="{{ install_prefix }}/share/terminfo"

export PATH="{{ install_prefix }}/bin/:{{ install_prefix }}/go/bin/:$PATH"

export CPPFLAGS="-I{{ install_prefix }}/include"
export CFLAGS="-O3 -I{{ install_prefix }}/include"
export LDFLAGS="-O3 -L{{ install_prefix }}/lib"
export PKG_CONFIG_PATH="{{ install_prefix }}/lib/pkgconfig"
export LD_LIBRARY_PATH="{{ install_prefix }}/lib"

export CGO_CPPFLAGS="-I{{ install_prefix }}/include"
export CGO_LDFLAGS="-O3 -L{{ install_prefix }}/lib"
